/* Initial file for initial commit */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.title-container span {
  border: 2px solid blue;
  border-radius: 25px;
  padding: 10px;
  font-family: sans-serif;
}
.grid-board {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  width: 480px;
  height: 480px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
}
div.grid-cell {
  height: 30px;
  width: 30px;
  /* to remove the border after the board is ready */
  border: 1px solid black;
  /* to remove the border after the board is ready */
}
